.products-content {
    display: flex;
    grid-template-areas: 
    'image info price';
    padding-left: 100px;
    padding-right: 100px;
    border-right:1px solid rgb(236, 225, 225);    
    border-left:1px solid rgb(236, 225, 225);    
    border-top:1px solid rgb(236, 225, 225);    
}

.image {
    grid-area: image;
    padding: 10px;
    width: 33.33%;
}

.image img{
    width: 100px;
    height: 100px;
}

.info {
    grid-area: info;
    text-align: left;
    margin-top: 30px;
    width: 33.33%;
}

.info label {
    font-size: 16px;
}

.info span {
    font-size: 13px;
    color: rgb(147, 151, 153);
}

.price {
    grid-area: price;
    text-align: center;
    margin-top: 30px;
    width: 33.33%;
}

.price span{
    font-weight: bold;
}

.products{
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
}