.products-content {
    display: flex;
    grid-template-areas: 
    'image info price';
    padding-left: 10px;
    padding-right: 100px;
    border-right:1px solid rgb(236, 225, 225);    
    border-left:1px solid rgb(236, 225, 225);    
    border-top:1px solid rgb(236, 225, 225);    
}

.notice-products{
    border-bottom:3px solid rgb(233, 205, 113);
    padding-bottom: 8px;
}

.box-products{
    margin-top: 30px;
}

.image {
    grid-area: image;
    padding: 5px;
}

.image img{
    width: 80px;
    height: 80px;
}

.info {
    grid-area: info;
    text-align: left;
    margin-top: 30px;
    width: 33.33%;
}

.info label {
    font-size: 16px;
}

.info span {
    font-size: 13px;
    color: rgb(147, 151, 153);
}

.price {
    grid-area: price;
    text-align: center;
    margin-top: 30px;
    width: 33.33%;
}

.price span{
    float: right;
}

.new-price{
    font-weight: bold;
}

.old-price{
    font-weight: normal;
}

.products{
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 10px;
}

.form-control{
    width: auto!important;
    display: inline!important;
}

.pagination{
    grid-template-areas: 
    'select-numbers btn-previous btn-next';
    width: 100%;
}

.select-numbers{
    grid-area: select-numbers;
}

.btn-previous{
    grid-area: btn-previous;
    float: right;
}

.btn-next{
    grid-area: btn-next;
    float: right;
}